{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Motorisation</th>
                <td>{{ vehicule.motorisation }}</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ vehicule.kilometrage }}</td>
            </tr>
            <tr>
                <th>PrixAchat</th>
                <td>{{ vehicule.prixAchat }}</td>
            </tr>
            <tr>
                <th>PrixLocationMois</th>
                <td>{{ vehicule.prixLocationMois }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehicule.type }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ vehicule.statut }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ vehicule.photo }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vehicule.createdAt ? vehicule.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}">back to list</a>

    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
